@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --primary: #fe2c55;

    // Default layout
    --default-layout-header-height: 65px;
    --default-layout-width: 1190px;

    --default-content-height: 520px;

    --default-bar-height: 570px;

    // Default layout blur
    --default-layout--blur: 5px;
    --default-content--blur: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat';
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: rgb(245, 241, 241);
    user-select: none;
}

svg {
    outline: none;
    stroke: transparent;
    stroke-width: 0px;
}

// ::-webkit-scrollbar {
//     width: 5px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background: #888;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #555;
// }

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba($color: #afc6ff, $alpha: 0.2);
    border-radius: 10px;
}
