.wrapper {
    width: 80px;
    min-height: var(--default-bar-height);
    background-color: rgba($color: #dddd, $alpha: 0.4);
    backdrop-filter: blur(var(--default-layout--blur));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.actions-wrapper {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-btn {
    // background-color: rgba($color: #dddd, $alpha: 0.25);
    background-image: linear-gradient(
        to right,
        rgba($color: #dddd, $alpha: 0.3),
        rgba($color: rgba(209, 236, 243, 0.867), $alpha: 0.7)
    );

    margin: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    list-style: none;
    cursor: pointer;

    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    &:hover {
        box-shadow: 0 4px 15px 3px rgba($color: #dddd, $alpha: 1);
        background-position: 100% 0;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    &.active {
        box-shadow: 0 0 0 3px rgba($color: #dddd, $alpha: 1);
    }
}
.actions-user-wrapper {
    flex: 1;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
            list-style: none;
            cursor: pointer;
        }
    }
}

.action-icon {
    color: white;
    width: 25px;
    height: 25px;
}
.action-setting:hover {
    animation: rotate 4s linear;
}
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(280deg);
    }
}

.menu-wrapper {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    .action-btn {
        margin-right: 20px;
        .non-active {
            transition: 0.5s;
            transform: rotate(0deg);
        }
        .menu-active {
            transition: 0.5s;
            transform: rotate(90deg);
        }
    }
}

// reponsive
@media screen and (max-width: 1210px) {
    .menu-wrapper {
        display: flex;
    }
    .list-action {
        display: none;
    }
    .actions-user-wrapper {
        display: none;
    }
    .wrapper {
        z-index: 1000;
        position: fixed;
        width: 100%;
        min-height: 50px;
        height: 50px;
        flex-direction: row;
        align-items: center;
    }

    .action-btn {
        width: 40px;
        height: 40px;
    }
    .action-icon {
        width: 20px;
        height: 20px;
    }
}
