.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: rgba($color: #dddd, $alpha: 0.4);
    backdrop-filter: blur(var(--default-layout--blur));
    display: flex;
    justify-content: center;
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1210px) {
    .wrapper {
        height: 100px;
    }
}
