.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: rgba($color: #dddd, $alpha: 0.4);
    backdrop-filter: blur(var(--default-layout--blur));
    display: flex;
    justify-content: center;
    transition: transform 0.4s;
}

.hide {
    transform: translateY(60px);
}
.non-hide {
    transform: translateY(0px);
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
