.wrapper {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.container {
    display: flex;
}

.content {
    padding: 20px;
    flex: 1;
    margin: 25px;
    height: var(--default-content-height);
    background-color: rgba($color: #afc6ff, $alpha: 0.2);
    backdrop-filter: blur(var(--default-content--blur));
    border-radius: 50px;
}

.header-bar {
    width: 100%;
    height: 30px;
    background-color: rgba($color: #dddd, $alpha: 0.4);
    backdrop-filter: blur(var(--default-layout--blur));
}

//modal
