.wrapper {
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
}

.content {
    padding: 20px;
    flex: 1;
    margin: 25px 25px 25px 25px;
    height: var(--default-content-height);
    background-color: rgba($color: #afc6ff, $alpha: 0.2);
    backdrop-filter: blur(var(--default-content--blur));
    border-radius: 50px;
}
.header-bar {
    width: 100%;
    height: 30px;
    background-color: rgba($color: #dddd, $alpha: 0.4);
    backdrop-filter: blur(var(--default-layout--blur));
}
