.player-controls__container {
    height: 100%;
    min-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;

    padding-left: 10px;
    padding-right: 10px;
}

.player-controls-left {
    display: flex;
    position: relative;
    width: 30%;
    z-index: 1;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
}

//media left
.media-left {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    img {
        animation: spin linear 10s infinite;
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

//media content
.media-content {
    max-width: 155px;
    flex-basis: auto;
    flex-grow: 1;
    text-align: left;
    align-self: center;
    overflow: hidden;
}
.song-info-wrapper {
    display: flex;
    white-space: nowrap;
    animation: move-left-to-right linear 7s infinite;
}
@keyframes move-left-to-right {
    from {
        transform: translateX(178px);
    }
    to {
        transform: translateX(-178px);
    }
}
.song-title-item {
    line-height: 0;
    padding-right: 10px;
}
.title-wrapper {
    display: flex;
    align-items: center;
}
.title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.36;
    text-overflow: clip;
    overflow: visible;
    display: flex;
    align-items: center;
    color: #fff;
    // transform: translateX(100px);
}
.subtitle {
    margin-top: 1px;
    display: flex;
    .is-ghost {
        font-size: 12px;
        display: inline-block;
        text-decoration: none;
        color: #fff;
    }
}

//player bar

.player-controls__player-bar {
    flex-grow: 1;
    max-width: 40vw;
    // background-color: red;
}

.actions-wrapper {
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: 0;
}
.actions {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
.action-item {
    width: 35px;
    height: 35px;
    background-color: rgba($color: rgba(121, 113, 113, 0.867), $alpha: 0.5);
    border-radius: 50%;
    margin: 0 7px;
    line-height: 0;
    border: none;
    cursor: pointer;
    .icon {
        width: 50%;
        height: 50%;
        outline: none;
        color: #fff;
    }
}

.time-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .time {
        min-width: 45px;
        font-size: 12px;
        font-weight: 500;
        color: black;
    }
    .left {
        text-align: right;
        margin-right: 10px;
        opacity: 0.5;
    }
    .right {
        margin-left: 10px;
    }
}
.duration-bar {
    display: flex;
    justify-content: center;
    height: 15px;
    width: 100%;
    cursor: pointer;
    .slider-bar {
        width: 100%;
        border-radius: 4px;
        background: rgba($color: #fff, $alpha: 0.7);
        align-self: center;
        height: 5px;
    }
}

//player-controls-right

.player-controls-right {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: flex-end;

    .action-right {
        width: 32px;
        height: 32px;
        background-color: rgba($color: rgba(121, 113, 113, 0.867), $alpha: 0.5);
        border-radius: 50%;
        margin: 0 7px;
        line-height: 0;
        border: none;
        cursor: pointer;
        .icon {
            width: 60%;
            height: 60%;
            outline: none;
            color: #fff;
        }
    }
    .zm-player-volume {
        display: flex;
        flex-direction: column;
        align-items: center;
        .wrapper-volumn-bar {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .slider-volumn-bar {
            display: none;
            position: absolute;
            top: -47px;
            height: 60px;
        }
        .active-volume-bar {
            display: block;
        }
    }
}
